@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Hero Section Begin -->
<section class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="hero-text">
                    <h1>Nền Tảng Thuê Sân Cầu Lông</h1>
                    <p>
                        Đây là nền tảng đặt sân cầu lông tốt nhất,
                        bao gồm các đề xuất cho việc đặt sân quốc tế và tìm kiếm sân với giá cả phải chăng.
                    </p>
                    <a href="#" class="primary-btn">Khám Phá Ngay</a>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-slider owl-carousel">
        <div class="hs-item set-bg" data-setbg="https://babolat.com.vn/wp-content/uploads/2023/10/san-cau-long-viettel.jpg"></div>
        <div class="hs-item set-bg" data-setbg="https://sieuthicaulong.vn/userfiles/files/san-cau-long-mega.jpg"></div>
        <div class="hs-item set-bg" data-setbg="https://cdn.alongwalk.info/vn/wp-content/uploads/2022/04/24045652/image-danh-sach-san-cau-long-tphcm-2021-165072581194618.jpg"></div>
    </div>
</section>
<!-- Hero Section End -->
<!-- About Us Section Begin -->
<section class="aboutus-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-text">
                    <div class="section-title">
                        <span>Về Chúng Tôi</span>
                        <h2>Nền Tảng Đặt Sân <br />Cầu Lông Hàng Đầu</h2>
                    </div>
                    <p class="f-para">
                        Chào mừng bạn đến với Nền Tảng Thuê Sân Cầu Lông của chúng tôi, điểm đến duy nhất của bạn
                        để đặt các sân cầu lông cao cấp. Chúng tôi cung cấp trải nghiệm liền mạch và thân thiện với người dùng
                        để giúp bạn tìm và đặt sân với giá tốt nhất, dù bạn là người chơi nghiệp dư hay chuyên nghiệp.
                    </p>
                    <p class="s-para">
                        Nền tảng của chúng tôi được thiết kế để cung cấp cho bạn thông tin chi tiết về từng sân, bao gồm
                        tính khả dụng, giá cả và tiện ích, giúp bạn dễ dàng chọn sân hoàn hảo cho nhu cầu của mình. Tham gia
                        cộng đồng những người yêu thích cầu lông và tận hưởng trải nghiệm đặt sân không rắc rối.
                    </p>
                    <a href="#" class="primary-btn about-btn">Đọc Thêm</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-pic">
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="https://cabasports.vn/wp-content/uploads/2021/03/30-1.jpg" alt="">
                        </div>
                        <div class="col-sm-6">
                            <img src="https://caulongtruongchinh909.com/uploads/source/tin-tuc/tieu-chi-khi-thiet-ke-san-cau-long-3.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Us Section End -->
<!-- Badminton Court Section Begin -->
<section class="hp-room-section">
    <div class="container-fluid">
        <div class="hp-room-items">
            <div class="row" id="badminton-court-section">
                <!-- Nội dung sẽ được JavaScript chèn vào đây -->
            </div>
        </div>
    </div>
</section>
<!-- Badminton Court Section End -->
<!-- Testimonial Section Begin -->
@*<section class="testimonial-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Testimonials</span>
                        <h2>What Customers Say?</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="testimonial-slider owl-carousel">
                        <div class="ts-item">
                            <p>
                                After a construction project took longer than expected, my husband, my daughter and I
                                needed a place to stay for a few nights. As a Chicago resident, we know a lot about our
                                city, neighborhood and the types of housing options available and absolutely love our
                                vacation at Sona Hotel.
                            </p>
                            <div class="ti-author">
                                <div class="rating">
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star-half_alt"></i>
                                </div>
                                <h5> - Alexander Vasquez</h5>
                            </div>
                            <img src="img/testimonial-logo.png" alt="">
                        </div>
                        <div class="ts-item">
                            <p>
                                After a construction project took longer than expected, my husband, my daughter and I
                                needed a place to stay for a few nights. As a Chicago resident, we know a lot about our
                                city, neighborhood and the types of housing options available and absolutely love our
                                vacation at Sona Hotel.
                            </p>
                            <div class="ti-author">
                                <div class="rating">
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star-half_alt"></i>
                                </div>
                                <h5> - Alexander Vasquez</h5>
                            </div>
                            <img src="img/testimonial-logo.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
<!-- Testimonial Section End -->
<!-- Blog Section Begin -->
@*<section class="blog-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Hotel News</span>
                        <h2>Our Blog & Event</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="blog-item set-bg" data-setbg="img/blog/blog-1.jpg">
                        <div class="bi-text">
                            <span class="b-tag">Travel Trip</span>
                            <h4><a href="#">Tremblant In Canada</a></h4>
                            <div class="b-time"><i class="icon_clock_alt"></i> 15th April, 2019</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog-item set-bg" data-setbg="img/blog/blog-2.jpg">
                        <div class="bi-text">
                            <span class="b-tag">Camping</span>
                            <h4><a href="#">Choosing A Static Caravan</a></h4>
                            <div class="b-time"><i class="icon_clock_alt"></i> 15th April, 2019</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog-item set-bg" data-setbg="img/blog/blog-3.jpg">
                        <div class="bi-text">
                            <span class="b-tag">Event</span>
                            <h4><a href="#">Copper Canyon</a></h4>
                            <div class="b-time"><i class="icon_clock_alt"></i> 21th April, 2019</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="blog-item small-size set-bg" data-setbg="img/blog/blog-wide.jpg">
                        <div class="bi-text">
                            <span class="b-tag">Event</span>
                            <h4><a href="#">Trip To Iqaluit In Nunavut A Canadian Arctic City</a></h4>
                            <div class="b-time"><i class="icon_clock_alt"></i> 08th April, 2019</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog-item small-size set-bg" data-setbg="img/blog/blog-10.jpg">
                        <div class="bi-text">
                            <span class="b-tag">Travel</span>
                            <h4><a href="#">Traveling To Barcelona</a></h4>
                            <div class="b-time"><i class="icon_clock_alt"></i> 12th April, 2019</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
<!-- Blog Section End -->
<!-- Search model Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch"><i class="icon_close"></i></div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search model end -->
<script>
    document.addEventListener('DOMContentLoaded', async function () {
        function formatCurrency(value) {
            return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
        }

        try {
            const response = await fetch('https://localhost:7020/api/v1/badminton-courts');
            const data = await response.json();
            if (data.statusCode === 200) {
                const courtData = data.data;
                const courtSection = document.querySelector('#badminton-court-section');

                courtSection.innerHTML = ''; // Clear existing template

                for (const court of courtData) {
                    try {
                        const courtsResponse = await fetch(`https://localhost:7020/api/v1/courts?badmintonCourtId=${court.id}`);
                        const courtsData = await courtsResponse.json();

                        if (courtsData.statusCode === 200) {
                            const courts = courtsData.data;

                            // Calculate min and max prices
                            let minPrice = Infinity;
                            let maxPrice = 0;

                            courts.forEach(courtItem => {
                                if (courtItem.price < minPrice) {
                                    minPrice = courtItem.price;
                                }
                                if (courtItem.price > maxPrice) {
                                    maxPrice = courtItem.price;
                                }
                            });

                            const priceText = minPrice !== Infinity && maxPrice !== 0 ? `${formatCurrency(minPrice)} - ${formatCurrency(maxPrice)} vnđ` : 'N/A';

                            // Use the first image from courtImagePaths if available
                            const firstImage = court.courtImagePaths && court.courtImagePaths.length > 0 ? court.courtImagePaths[0] : 'img/default-court.jpg';

                            const courtHTML = `
                            <div class="col-lg-3 col-md-6">
                                <div class="hp-room-item set-bg" data-setbg="${firstImage}">
                                    <div class="hr-text">
                                        <h3>${court.courtName}</h3>
                                        <h2>${priceText}</h2>
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td class="r-o">Số Sân:</td>
                                                    <td>${court.courtNumber}</td>
                                                </tr>
                                                <tr>
                                                    <td class="r-o">Giờ Bắt Đầu:</td>
                                                    <td>${court.startTime}</td>
                                                </tr>
                                                <tr>
                                                    <td class="r-o">Giờ Kết Thúc:</td>
                                                    <td>${court.endTime}</td>
                                                </tr>
                                                <tr>
                                                    <td class="r-o">Địa Chỉ:</td>
                                                    <td>${court.address}</td>
                                                </tr>
                                                <tr>
                                                    <td class="r-o">Đánh Giá:</td>
                                                    <td>${court.rating}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <a href="/BadmintonCourt/Details/${court.id}" class="primary-btn">More Details</a>
                                    </div>
                                </div>
                            </div>`;
                            courtSection.innerHTML += courtHTML;

                            // Set background images for each court item
                            document.querySelectorAll('.set-bg').forEach(item => {
                                const bg = item.getAttribute('data-setbg');
                                item.style.backgroundImage = `url(${bg})`;
                            });
                        } else {
                            console.error('Failed to fetch courts data: ', courtsData.message);
                        }
                    } catch (error) {
                        console.error('Error fetching courts data: ', error);
                    }
                }
            } else {
                console.error('Failed to fetch data: ', data.message);
            }
        } catch (error) {
            console.error('Error fetching data: ', error);
        }
    });

    document.addEventListener('DOMContentLoaded', function () {
        const startTimeInput = document.getElementById('start-time');
        const endTimeInput = document.getElementById('end-time');

        function validateTimeInput(event) {
            const value = event.target.value;
            const [hours, minutes] = value.split(':').map(Number);

            if (minutes !== 0 && minutes !== 30) {
                event.target.setCustomValidity('Vui lòng chọn thời gian theo từng bước 30 phút.');
            } else {
                event.target.setCustomValidity('');
            }
        }

        function validateEndTime() {
            const startTime = startTimeInput.value;
            const endTime = endTimeInput.value;

            if (startTime && endTime) {
                const [startHours, startMinutes] = startTime.split(':').map(Number);
                const [endHours, endMinutes] = endTime.split(':').map(Number);

                const start = new Date();
                start.setHours(startHours, startMinutes);

                const end = new Date();
                end.setHours(endHours, endMinutes);

                const difference = (end - start) / (1000 * 60); // difference in minutes

                if (difference < 30) {
                    endTimeInput.setCustomValidity('Giờ Kết Thúc phải ít nhất 30 phút sau Giờ Bắt Đầu.');
                } else {
                    endTimeInput.setCustomValidity('');
                }
            }
        }

        startTimeInput.addEventListener('input', validateTimeInput);
        endTimeInput.addEventListener('input', validateTimeInput);
        endTimeInput.addEventListener('input', validateEndTime);

        const bookingForm = document.getElementById('booking-form');
        if (bookingForm) {
            bookingForm.addEventListener('submit', function (event) {
                validateEndTime();

                if (!startTimeInput.validity.valid || !endTimeInput.validity.valid) {
                    event.preventDefault();
                    alert('Vui lòng chọn thời gian bắt đầu và kết thúc hợp lệ.');
                }
            });
        }
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const urlParams = new URLSearchParams(window.location.search);
        const code = urlParams.get('code');
        const paymentLinkId = urlParams.get('id'); // This is the PaymentLinkId
        const status = urlParams.get('status');

        console.log('URL Parameters:', { code, paymentLinkId, status });

        if (code === '00' && (status === 'PAID' || status === 'CANCELLED')) {
            console.log('Attempting to update payment status...');
            fetch(`https://localhost:7020/api/v1/payment/update-payment-status?paymentLinkId=${paymentLinkId}&status=${status}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => response.json())
                .then(data => {
                    console.log('Data from update-payment-status:', data);
                    if (data.statusCode === 200) {
                        if (status === 'PAID') {
                            alert('Payment successful! Booking confirmed.');
                        } else if (status === 'CANCELLED') {
                            alert('Payment was cancelled.');
                        }
                        // Optionally, redirect to a confirmation page or update the UI accordingly
                    } else {
                        alert('Error updating payment status: ' + data.message);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Error: ' + error.message);
                });
        } else {
            alert('Payment failed or was cancelled.');
        }
    });
</script>



