<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BadmintonRentalPlatformClient</title>

    <meta name="description" content="Sona Template">
    <meta name="keywords" content="badminton, rental, platform, html">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BadmintonRental | Platform</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

    <style>
        .nav-right {
            display: flex;
            align-items: center;
        }

        .login-icon {
            color: #333;
            text-decoration: none;
            font-size: 16px;
            transition: color 0.3s;
        }

            .login-icon i {
                margin-right: 5px;
            }

            .login-icon:hover {
                color: #dfa974;
            }

        #user-dropdown {
            color: #333;
            position: relative;
        }

            #user-dropdown .dropdown-menu {
                display: none;
                position: absolute;
                top: 100%;
                left: 0;
                z-index: 1000;
                float: left;
                min-width: 160px;
                padding: 5px 0;
                margin: 2px 0 0;
                font-size: 14px;
                color: #333;
                text-align: left;
                list-style: none;
                background-color: #fff;
                background-clip: padding-box;
                border: 1px solid rgba(0, 0, 0, .15);
                border-radius: 4px;
                box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
                opacity: 0;
                visibility: hidden;
                transition: opacity 0.3s ease, visibility 0.3s ease;
            }

            #user-dropdown.show .dropdown-menu {
                display: block;
                opacity: 1;
                visibility: visible;
            }

            #user-dropdown .dropdown-item {
                display: block;
                width: 100%;
                padding: 3px 20px;
                clear: both;
                font-weight: 400;
                color: #333;
                text-align: inherit;
                white-space: nowrap;
                background: none;
                border: 0;
            }

                #user-dropdown .dropdown-item:hover {
                    background-color: #f8f9fa;
                    color: #333;
                }
    </style>
</head>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Section Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="canvas-open">
        <i class="icon_menu"></i>
    </div>
    <div class="offcanvas-menu-wrapper">
        <div class="canvas-close">
            <i class="icon_close"></i>
        </div>
        <div class="search-icon  search-switch">
            <i class="icon_search"></i>
        </div>
        <div class="header-configure-area">
            <div class="language-option">
                <img src="/img/flag.jpg" alt="">
                <span>VI <i class="fa fa-angle-down"></i></span>
                <div class="flag-dropdown">
                    <ul>
                        <li><a href="#">VI</a></li>
                        <li><a href="#">EN</a></li>
                    </ul>
                </div>
            </div>
            <a href="#" class="bk-btn">Đặt Ngay</a>
        </div>
        <nav class="mainmenu mobile-menu">
            <ul>
                <li class="active"><a href="/index">Trang Chủ</a></li>
                <li><a href="/badmintoncourt/index">Sân Cầu Lông</a></li>
                <li><a href="/aboutus">Về Chúng Tôi</a></li>
                <li>
                    <a href="./pages.html">Trang</a>
                    <ul class="dropdown">
                        <li><a href="/badmintoncourt/details">Chi Tiết Sân</a></li>
                        <li><a href="/blog/details">Chi Tiết Blog</a></li>
                    </ul>
                </li>
                <li><a href="/blog/index">Tin Tức</a></li>
                <li><a href="/contact">Liên Hệ</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="top-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-tripadvisor"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
        <ul class="top-widget">
            <li><i class="fa fa-phone"></i> (12) 345 67890</li>
            <li><i class="fa fa-envelope"></i> info.colorlib@gmail.com</li>
        </ul>
    </div>
    <!-- Offcanvas Menu Section End -->
    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="top-nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="tn-left">
                            <li><i class="fa fa-phone"></i> (12) 345 67890</li>
                            <li><i class="fa fa-envelope"></i> info.colorlib@gmail.com</li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <div class="tn-right">
                            <div class="top-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-tripadvisor"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                            <a href="#" class="bk-btn">Đặt Ngay</a>
                            <div class="language-option">
                                <img src="/img/flag.jpg" alt="">
                                <span>VI <i class="fa fa-angle-down"></i></span>
                                <div class="flag-dropdown">
                                    <ul>
                                        <li><a href="#">VI</a></li>
                                        <li><a href="#">EN</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="logo">
                            <a href="/index">
                                <img src="/img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="nav-menu">
                            <nav class="mainmenu">
                                <ul>
                                    <li class="active"><a href="/index">Trang Chủ</a></li>
                                    <li><a href="/badmintoncourt/index">Sân Cầu Lông</a></li>
                                    <li><a href="/aboutus">Về Chúng Tôi</a></li>
                                    <li><a href="/blog/index">Tin Tức</a></li>
                                    <li><a href="/contact">Liên Hệ</a></li>
                                </ul>
                            </nav>
                            <div class="nav-right">
                                <a href="/account/login" class="login-icon" id="login-link">
                                    <i class="fa fa-user"></i> Đăng Nhập
                                </a>
                                <div class="dropdown" id="user-dropdown" style="display: none;">
                                    <a href="#" class="login-icon dropdown-toggle" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-user"></i> Xin Chào, <span id="username"></span>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="userDropdown">
                                        <a class="dropdown-item" href="/Customer/Profile">Thông tin cá nhân</a>
                                        <a class="dropdown-item" href="/Customer/BookingsHistory">Đơn đặt lịch</a>
                                        <a class="dropdown-item" href="#" id="logout-button">Đăng Xuất</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <main role="main" class="pb-3">
        @RenderBody()
    </main>


    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="footer-text">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="ft-about">
                            <div class="logo">
                                <a href="#">
                                    <img src="~/img/footer-logo.png" alt="">
                                </a>
                            </div>
                            <p>Chúng tôi truyền cảm hứng và tiếp cận hàng triệu khách du lịch<br /> trên 90 trang web địa phương</p>
                            <div class="fa-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-tripadvisor"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="ft-contact">
                            <h6>Liên Hệ</h6>
                            <ul>
                                <li>(12) 345 67890</li>
                                <li>info.colorlib@gmail.com</li>
                                <li>856 Cordia Extension Apt. 356, Lake, Hoa Kỳ</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="ft-newslatter">
                            <h6>Bản Tin Mới</h6>
                            <p>Nhận các cập nhật và ưu đãi mới nhất.</p>
                            <form action="#" class="fn-form">
                                <input type="text" placeholder="Email">
                                <button type="submit"><i class="fa fa-send"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <ul>
                            <li><a href="#">Liên Hệ</a></li>
                            <li><a href="#">Điều Khoản Sử Dụng</a></li>
                            <li><a href="#">Bảo Mật</a></li>
                            <li><a href="#">Chính Sách Môi Trường</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-5">
                        <div class="co-text">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Bản quyền &copy;
                                <script>document.write(new Date().getFullYear());</script> Tất cả các quyền | Mẫu này được thực hiện với <i class="fa fa-heart" aria-hidden="true"></i> bởi <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->'

    <script>
        const manageAuthen = document.getElementById('manageAuthen');
        const username = sessionStorage.getItem('user');
        if (username !== null) {
            manageAuthen.innerHTML = '<a href="/account/login" class="login-icon"/>' +
                '<i class="fa fa-user"></i> Hello ' + username +
                '</a>';
        }
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- Js Plugins -->
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/jquery.slicknav.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/main.js"></script>
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const isLogin = localStorage.getItem('isLogin');
            const userInfo = JSON.parse(localStorage.getItem('userInfo'));

            if (isLogin && userInfo) {
                document.getElementById('login-link').style.display = 'none';
                document.getElementById('user-dropdown').style.display = 'inline';
                document.getElementById('username').textContent = userInfo.fullName;
                document.getElementById('user-dropdown').style.color = '#333'; // Đảm bảo màu chữ luôn hiển thị
            }

            const userDropdown = document.getElementById('user-dropdown');
            const dropdownMenu = userDropdown.querySelector('.dropdown-menu');

            userDropdown.addEventListener('mouseover', function () {
                userDropdown.classList.add('show');
            });

            userDropdown.addEventListener('mouseout', function () {
                setTimeout(function () {
                    if (!userDropdown.matches(':hover') && !dropdownMenu.matches(':hover')) {
                        userDropdown.classList.remove('show');
                    }
                }, 300);
            });

            dropdownMenu.addEventListener('mouseover', function () {
                userDropdown.classList.add('show');
            });

            dropdownMenu.addEventListener('mouseout', function () {
                setTimeout(function () {
                    if (!userDropdown.matches(':hover') && !dropdownMenu.matches(':hover')) {
                        userDropdown.classList.remove('show');
                    }
                }, 300);
            });

            document.getElementById('logout-button').addEventListener('click', function () {
                localStorage.removeItem('isLogin');
                localStorage.removeItem('userInfo');
                window.location.href = '/account/login';
            });
        });

    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
